VITE_API_URL=http://127.0.0.1:4000
VITE_SOCKET_URL=http://127.0.0.1:4000
VITE_MAPTILER_API_KEY=PASTE_MAPTILER_KEY_HERE
VITE_MAPTILER_STYLE_URL=https://api.maptiler.com/maps/openstreetmap/style.json?key=${VITE_MAPTILER_API_KEY}
VITE_OSM_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
